[2018-10-31 19:11] robertoostenveld opened #1 "implement automatic building of the website"
the static content should be rebuilt whenever a new commit is merged

[2018-10-31 19:12] robertoostenveld opened #2 "add a footer to all pages"
including
- date/time of latest update
- copyright statement
- CC-BY-SA

[2018-10-31 19:16] robertoostenveld opened #3 "include edit button"
Each page should have an "edit" or "edit on github" button that redirects directly to the specific page on github, e.g. https://github.com/fieldtrip/website/blob/master/index.md.

At that moment it is sufficient to click on the edit button.

[2018-10-31 19:17] robertoostenveld opened #4 "implement page menu in left sidebar"

[2018-10-31 19:18] robertoostenveld opened #5 "ensure that the site menu always remains visible"
The menu at the top now disappears if the page is too small (e.g. on a mobile phone).

[2018-10-31 19:29] robertoostenveld opened #6 "sort the "pages tagged with xxx""
They now appear in random order, alphabetical would be easier to browse.

[2018-10-31 19:32] robertoostenveld commented on #1
The web server is behind a firewall, hence a web hook is not an option. I have implemented this using a cron job on the web server that polls the latest commit every 5 minutes. If the hash of the latest commit is different from the previous one, the static content gets rebuilt.

[code]

[2018-10-31 19:32] #1 closed

[2018-10-31 19:33] robertoostenveld opened #7 "host a copy of the static website on a server in China"
as discussed on
http://bugzilla.fieldtriptoolbox.org/show_bug.cgi?id=3381

[2018-10-31 21:15] robertoostenveld commented on #1
The sha256 hash of the latest commit that has been used for building the website can be found on http://new.fieldtriptoolbox.org/commit/

[2018-11-01 08:48] Spaak opened #8 "Display latest commits on FT website homepage"

[2018-11-01 08:54] Spaak opened #9 "Old website had breadcrumbs - do we want to keep these?"

[2018-11-01 11:58] robertoostenveld commented on #9
it actually does not have breadcrumbs (we had those in the past), but a hierarchical representation of the current page that allows to quickly go back.

![screen shot 2018-11-01 at 12 57 43](https://user-images.githubusercontent.com/899043/47850522-c9e80a00-ddd5-11e8-9ef6-123b951ce854.png)

[2018-11-01 12:09] robertoostenveld commented on #2
it could also include a link to the latest commit in this repository

[2018-11-01 12:09] robertoostenveld opened #10 "implement a new sitemap"
I.e. a file sitemap.xml and sitemap.xml.gz. This helps google to index and display results better..

[2018-11-01 12:11] robertoostenveld opened #11 "implement google analytics"
This requires a site-verification html file to be placed on the site (trivial) and some (javascript/html) code to be included in each page (probably best in _includes/head).

[2018-11-01 12:11] robertoostenveld commented on #11
of course the existing tracking should continue on the new site.

[2018-11-01 12:32] robertoostenveld commented on #10
I have copied the old one into static/root (not in git) and updated the build script to put it in place after jekyll is done.

Once the new site layout has stabilized, we should update it.

[2018-11-01 12:32] robertoostenveld commented on #11
I have copied the site-verification html file into static/root (not in git) and updated the build script to put it in place after jekyll is done.

[2018-11-14 18:01] robertoostenveld opened #14 "implement a matlab2markdown function"
This would slightly resemble the code that is now in utilities/ft_documentationreference and which takes the help of a MATLAB function and converts it into Dokuwiki format.

Just some ideas:

    matlab2dokuwiki(...)
    matlab2markdown(...)
    markdown2matlab(...)

where converting dokuwiki2matlab is not needed (since we will not move in that direction any more). The reason for creating the matl

[2018-11-14 18:06] robertoostenveld commented on #14
@dieloz @aranas, my idea would be that you could use it on the example script and convert back/forth between the MATLAB script and the Markdown version for the website. Having it in MATLAB rather than as Linux command line tool ensures it also works on Windows. Note that not all formatting would have a logical mapping between the two. But even with a limited scope, it would be useful.

[2018-11-15 11:39] robertoostenveld commented on #3
I added an edit link in the navigation in commit a44b7e9

[2018-11-15 13:19] robertoostenveld opened #15 "fix missing images"
while converting images from the old to the new organization, I noticed that the following images (referred to from the markdown files) are not present

[code]

[2018-11-19 14:33] robertoostenveld commented on #15
I renamed all figures so that the location of each file matches the page in which it appears. In the process I also checked broken links and missing figures, and fixed all of these.

[2018-11-19 14:33] #15 closed

[2018-11-19 14:36] robertoostenveld commented on #3
this will have disappeared in PR #17 which implements the new site navigation. Hence reopening.

[2018-11-19 14:42] Spaak opened #20 "clicking link in right-side ToC should consider the overlaid navbar"
Right now the heading that is linked to is obscured by the fixed-position navbar. Add a bit of margin to counteract this (possibly in JavaScript).

[2018-11-19 14:53] robertoostenveld commented on #3
Eelke already added something to the footer. I updated it so that it brings you directly to the proper page on github.

[2018-11-19 14:53] #3 closed

[2018-11-19 14:54] robertoostenveld commented on #2
there exists a footer now, which has a link to "edit this page". The other items should be added.

[2018-11-19 14:56] robertoostenveld commented on #2
@Spaak, the footer now overlaps with the last piece of the page content. Can you fix that?

[2018-11-19 14:57] Spaak commented on #2
I thought I had! I'll investigate, maybe it's uncommitted or so.

[2018-11-19 15:12] Spaak commented on #4
PR #17 puts page menu in *right*, not left sidebar; like we had before. This is also the more common practice. We can leave the left sidebar open for possible other (higher-level than page ToC) menus, or just empty.

[2018-11-19 15:12] #4 closed

[2018-11-19 15:17] Spaak commented on #2
@robertoostenveld do you have an example of a page where the footer still overlaps the page content? It works fine on e.g. the home page for me.

[2018-11-20 13:45] robertoostenveld commented on #11
this is part of this commit
[master 960a44e] include google analytics tracking, updated README

I still should check whether it works.

[2018-11-20 14:09] robertoostenveld commented on #8
from https://mirrors.edge.kernel.org/pub/software/scm/git/docs/git-log.html I got this

  git log --pretty=format:"- commit: %h%n  name: %cN%n  subject: %s%n  date: %ci%n  hash: %H"

which results in a list like this (here for the website, but for fieldtrip itself it would be similar)

[code]

We could write this to a yaml file in _data, and auto-generate a nicely formatted list, just like the tag

[2018-11-20 14:42] Spaak commented on #8
I'm wondering whether it might not make more sense to get this kind of information client-side using JavaScript. I can see several advantages to that approach:
- Avoids bloating the post-commit hooks
- Information is always up to date; no regeneration delay between the commit on GitHub and it displaying on the website. This adds to the feeling of a 'live' project.

[2018-11-26 11:23] robertoostenveld opened #27 "add "getting started" item to top-level menu"

[2018-11-26 11:24] robertoostenveld opened #28 "merge "contribute" and "development" top-level menu items"

[2018-11-26 11:28] robertoostenveld opened #29 "make the page menu the default"
and switch it off for some pages explicitly

[2018-11-26 12:30] #28 closed

[2018-11-27 18:46] robertoostenveld commented on #27
This is now in place

[2018-11-27 18:46] #27 closed

[2018-11-28 16:20] aranas commented on #14
I had a first go at the matlab2markdown & markdown2matlab scripts. For the matlab2dokuwiki I am not entirely clear on how it will be used, so maybe we could discuss this before continuing. Right now the two functions simply enable one to convert between the two filetypes without loosing any markdown syntax but also being able to transform from markdown to matlab such that it can be run in the edit

[2018-11-28 16:21] robertoostenveld commented on #14
Sounds good! I think they should go in fieldtrip/utilities, since we would want to call them from the MATLAB command line and from ft_documentationreference. As such, I started this issue at the wrong spot.

[2018-12-05 08:32] robertoostenveld commented on #14
These have been implemented. Furthermore, I updated the ft_documentationreference and ft_documentationindex functions.

[2018-12-05 08:32] #14 closed

[2018-12-05 11:40] robertoostenveld commented on #29
It took me some time to get the suggestion of @KristijanArmeni working. It initially failed because I was doing an incremental build, which did not take the changes in _config.yml into account. Deleting everything in _site solved it.

[2018-12-05 12:41] #29 closed

[2018-12-06 09:47] robertoostenveld commented on #11
Now that the new website is the default, I have confirmed that google analytics works.

[2018-12-06 09:47] #11 closed

[2018-12-06 09:49] robertoostenveld commented on #9
I think we should work on the hierarchy anyway, so lets close this specific issue for now.

[2018-12-06 09:49] #9 closed

[2018-12-06 09:56] Spaak opened #34 "Jekyll is escaping the closing tag of markup sometimes"
See http://www.fieldtriptoolbox.org/tutorial/fourier/ for a clear example. The `</div>` after the "danger" note is escaped into `&lt;/div&gt;`. Not sure why it's doing this.

I suspect maybe adding some text after the link there might solve it? (I wanted to flag this issue first before trying it out because maybe @robertoostenveld has some thoughts (also the page involved is very low-priority anyw

[2018-12-06 10:01] #10 closed

[2018-12-06 10:27] robertoostenveld opened #35 "add the icons back to the notification boxes"
@SimonHomoelle suggested this, it is not so clear from the color alone that red is a warning.

[2018-12-06 10:59] robertoostenveld opened #36 "change the font size of the headings"
The headings (especially H1 and H2) are very large compared to the body text. I think we mainly use them to a good page TOC, not to have them visually standing out.

I propose to make the font size difference of the headings smaller, and H1 perhaps 2/3 of what it now is.

[2018-12-07 09:07] robertoostenveld opened #37 "some updates from the old website did not make it to the new one"
I realized when searching for something on the brainvision file format, that the recently updated information  http://old.fieldtriptoolbox.org/getting_started/brainvision?do=revisions was not present on the new site. I should look into this and make sure that all recent updates are migrated to the new site.

[2018-12-10 13:15] Spaak opened #39 "change font size of code blocks"
Such that lines up to 100 characters wide do not require scrolling.

[2018-12-10 13:16] Spaak opened #40 "ensure that no line of code in code blocks exceeds 100 characters"
See also #39

[2018-12-15 08:33] robertoostenveld commented on #37
I checked it and was not able to find any other content that was incorrect/outdated on the new site. I might have made the specific edit in the backend, in relation to completing the BIDS-EEG paper (with external people expecting the FT website to be updates).

[2018-12-15 08:33] #37 closed

[2018-12-15 10:09] robertoostenveld opened #44 "don't use php for the download form"
The TG mentioned that the FT download form seems to be occasional used in spam attempts, i.e. the web server shows up in the RU-wide monitoring system as sending suspected emails to false email addresses.

I propose to switch to <https://formspree.io>. With this (or a similar service) we would not need any php code any more. I also expect that online services like these do some checking to prevent

[2018-12-15 10:11] robertoostenveld commented on #44
FYI: they also mentioned that a lot of data gets downloaded from the ftp server, sometimes many GB per day.

[2019-01-14 08:56] schoffelen opened #54 "upgrade the tutorial on the creation of sourcemodels"
This is actually a mixed fieldtrip/fieldtrip and fieldtrip/website issue.

I have been recently explaining how to create surface based sourcemodels using an adjusted version of HCP's postfreesurferscript functionality. This inspired me to now finally document this properly (and deprecate the MNE-suite based explanation, which by the way requires quite some fiddlig around to get it running anyway).

[2019-01-14 10:11] robertoostenveld commented on #54
I am fine with deleting the old documentation from the markdown files. It can be found and retrieved using "git log" etc.

Regarding making the pipeline available: we indeed had a scaffold on http://github.com/Donders-Institute, but since it never contained any real code, I deleted it some time ago. How about making it available in fieldtrip/bin? Or in fieldtrip/contrib?

[2019-01-16 10:37] robertoostenveld opened #58 "add the material for the madrid2019 workshop"
as discussed with @dieloz and @aranas

[2019-01-16 10:44] robertoostenveld commented on #58
The links are already present on the madrid2019 page, and placeholder pages are in place for the 4 hands-on sessions.

- [ ] tutorial_erp
- [ ] tutorial_cleaning
- [ ] tutorial_freq
- [ ] tutorial_stats

Furthermore, we need the general

- [ ] dataset description for `eeg-chennu`
- [ ] dataset description for `eeg-language`

These don't have to be elaborate. E.g. one paragraph plus pointers to rel

[2019-01-16 10:49] dieloz commented on #58
@aranas Could you please take care of the dataset description thing? I'm still working on the tutorials

[2019-01-16 11:51] robertoostenveld commented on #58
I have added two short dataset descriptions to the website. These will soon (in a few minutes) also be visible from http://www.fieldtriptoolbox.org/workshop/madrid2019/

[2019-01-16 12:34] robertoostenveld commented on #58
There is now a draft version of tutorial_cleaning and tutorial_stats online. Please check them and make edits in the shared Dropbox. Idem for the dataset descriptions.

[2019-01-16 12:35] robertoostenveld commented on #58
I will stop working on it for now.

[2019-01-16 12:36] aranas commented on #58
great, thank you Robert! I am almost done with reworking the tutorial_cleaning, will let you know when all the files are in the dropbox

[2019-01-16 12:41] dieloz commented on #58
Great Robert! Thanks a lot for the work. I just added a couple of blank lines in the "### Statistical Testing of the Relation Between a Neurobiological and a Behavioural Variable" section after points 1 and 2: the matlab code was text (no clue why this happens)

[2019-01-17 12:19] aranas commented on #58
tutorial_cleaning is up and I will do the formatting of it tonight
@dieloz thanks for your script, the topos look indeed just as expected! I will change & extend the erp tutorial now and let you know when it is finished.
Also,  I just met with Robert and have some notes on structure and formatting of the tutorials, so once the freq_task and freq_resting tutorials are finished @dieloz can let me kn

[2019-01-17 14:00] dieloz commented on #58
Hi @aranas! thanks for letting me know. The freq tutorial is finished (figures and matlab code) I even converted to markdown and seems ok. I already paste task and resting data (sorry if I messed). You'll find images in Dropbox/Chennu2016PLoSBiol/tutorial/tutorial_freq

@robertoostenveld : to put the tutorial data in FTP what should we do? So far is in the dropbox, together witht he images which i

[2019-01-17 14:06] aranas commented on #58
@dieloz great, I see that you merged them. It looks good! I will just do some formatting to it and then I can put it up on the website together with the images, Robert showed me how to do this.

[2019-01-17 16:20] robertoostenveld commented on #58
The procedure for adding (or deleting) files to the FTP server is that they are copied (or deleted) on `/home/common/matlab/fieldtrip/data/ftp/workshop/madrid2019/` on our central storage. Every hour or so (under control by the TG) that whole ftp directory is synchronized with the FTP server itself. So I cannot directly access the FTP server, but can put the files in the right location. I gave @ar

[2019-01-17 16:22] robertoostenveld commented on #58
Should I also upload `freq_resting.mat` from the `tutorial_stats` folder on Dropbox?

What about the .m files (plotSpread and sem)?

[2019-01-17 16:41] dieloz commented on #58
Put them all. freq_resting.mat contains freq data from all participants and sessions and the other functions are needed to plot

[2019-01-17 16:56] robertoostenveld commented on #58
done!

[2019-01-19 19:54] robertoostenveld commented on #58
I had a lok at the freq tutorial: it is to long. I propose in the tar section to delete 2 of the 4 topics, only keep fixed length Hanning and Morlet. No multi and no variable timwin. Better have the participants spend more time on Resting state power spectra

[2019-01-19 20:39] dieloz commented on #58
Sure. I keep multitapers for resting state isnt it? I'm commuting: in ~1h I make the pull request

[2019-01-19 21:37] robertoostenveld commented on #58
Yes, keep dpss in last part

[2019-01-19 21:45] robertoostenveld opened #70 "Filter example script should be moved"
It is now under source analysis, but should be under preprocessing

[2019-01-30 19:04] robertoostenveld commented on #58
I have also added the bids conversion script

[2019-01-30 19:04] #58 closed

[2019-01-31 10:53] dieloz commented on #58
It would be nice to share the pipelines to see what I've done in all subjects. In

Dropbox\Chennu2016PLoSBiol\code\pipelines

feel free to add step1* to step4* matlab scripts. They go from raw data to freq following the bids folder structure we agreed.

[2019-03-24 21:06] apjanke opened #104 "Ruby Sass is deprecated"
When installing the gems for a local run of the website:

[code]

Looks like this is being pulled in by the website's gem dependencies:

[code]

Should something be done to switch to the `sassc` gem?

[2019-03-24 21:36] apjanke opened #105 "Missing Illustrator swatch in guideline/documentation"
http://www.fieldtriptoolbox.org/development/guideline/documentation/ says:

But there's no link to an actual swatch file.

[2019-03-25 10:35] robertoostenveld commented on #105
This was originally an idea of @stephenwhitmarsh, but we never managed to settle on a consistent color scheme. Also SVG did not really work, so now most figures are in PNG. I will remove it from the documentation.

[2019-03-25 10:35] #105 closed

[2019-03-25 10:43] robertoostenveld commented on #104
I started with a default Jekyll installation following http://jekyllrb.com/ and don't  really know what `sass` is, it was installed as dependency.

Feel free to suggest an update to the Gemfile in a PR, @Spaak and I can then check whether it also works for us (on our respective desktops and on the web server).

[2019-03-25 10:44] robertoostenveld commented on #44
The download form actually works fine right now, so I don't think we should spend time on this.

[2019-03-25 10:44] #44 closed

[2019-03-26 11:46] robertoostenveld opened #110 "the figures in the spike tutorial are too small"

[2019-04-03 12:36] aranas opened #116 "Sleep tutorial not running"
@robertoostenveld @matsvanes @simonhomoelle

In the sleep tutorial once the dataset is epoched, something goes wrong with the hdr field, as chantype and chanunit are empty. Therefore subsequent calls to ft_artifact_muscle throw an error:

Index exceeds matrix dimensions.

Error in ft_fetch_header (line 56)
  hdr.chantype = data.hdr.chantype(hdrindx);

Error in ft_artifact_zvalue (line 212)
  hdr =

[2019-04-03 12:43] robertoostenveld commented on #116
I will look at it.

[2019-04-03 12:44] robertoostenveld commented on #116
have you already made any edits to the sleep.md file? If so, I can better refrain from making edits myself, as that may result in merge conflicts.

[2019-04-03 12:44] aranas commented on #116
no, no edits

[2019-04-03 13:09] robertoostenveld commented on #116
I found the error around line 80 in ft_fetch_header. It was due to the renaming of the channels using ft_apply montage, which caused the data.hdr.label and data.label to be different. It should be fixed with https://github.com/fieldtrip/fieldtrip/pull/1074

Can you continue with testing the tutorial?

[2019-04-03 13:09] #116 closed

[2019-04-03 13:10] aranas commented on #116
awesome, thanks! will continue testing

[2019-04-17 08:41] apjanke commented on #104
Per [Jekyll upstream](https://github.com/jekyll/jekyll-sass-converter/issues/74#issuecomment-483991957):

Instead only Jekyll 4.0 and beyond will be able to use jekyll-sass-converter-2.0.0 out-of-the-box.

So the thing to do here is just ignore the message and wait until Jekyll 4.0 comes out.

Closing as nothing-to-do.

[2019-04-17 08:41] #104 closed

[2019-04-17 08:44] robertoostenveld commented on #104
thanks. I will still have to learn how to maintain the website on the longer run. Right now I am already happy that as of recently - using http://github.com/Donders-Institute/hpc-webhook/ - I can have the website automatically rebuilt within a few minutes after an update.

[2019-05-02 06:47] robertoostenveld opened #122 "oxford tutorial should be in its own directory"
Hi @Spaak, regarding #121 please do not add (modified) copies of tutorials under /tutorial, but place them under /workshop/xxx where xxx is the event for which it was made. Otherwise the top level tutorials  become too hard to maintain due to the forking of content. Or if you want, consider properly updating/improving the top level tutorial that you are interested in.

[2019-05-02 07:02] Spaak commented on #122
Sorry, will file and merge pull request (including other changes like a workshop page) later today. (I merged #121 immediately yesterday because Nadine was waiting for the page to appear on the website.)

I did make some changes to the general figures in the sensor_analysis tutorial, but I think we shouldn't change that one specifically for the Oxford workshop. FYI the fork is a copy of that one,

[2019-05-15 07:07] robertoostenveld commented on #122
@Spaak I think this is now the case, right? If so, please close this issue.

[2019-05-15 08:30] #122 closed

[2019-05-21 09:50] robertoostenveld opened #132 "prepare the tutorials for oslo2019"
Tagging @ualsbombe and @britta-wstnr who will also be working on this.

[2019-05-21 11:46] ualsbombe commented on #132
Created the .m-files in the tutorial for each of the five tutorials: (oslo2019/tutorials)
1_introduction_to_FieldTrip_and_EEG.m
2_frequency_and_time_frequency_analysis.m
3_statistics.m
4_source_reconstruction.m
5_forward_model_computation.m

[2019-05-21 13:53] robertoostenveld commented on #132
I have created a `0_convert_data.m` script in the shared dropbox, and converted the original fif data to a brainvision triplet for the EEG and a triplet for the AUX (with the bipolar channels). I think that makes it easier to explain that the data has different references. You can use the same ft_preprocessing on both (the events are exactly the same on both datasets) and then append (if you want)

[2019-05-21 13:56] robertoostenveld commented on #132
I have added it to the FTP server, the converted data will appear (in an hour or so) on ftp://ftp.fieldtriptoolbox.org/pub/fieldtrip/workshop/oslo2019/

[2019-05-21 13:56] ualsbombe commented on #132
Great, I'll remove it from the dropbox as soon as it has been correctly uploaded.

[2019-05-22 15:03] robertoostenveld opened #134 "improve data2bids documentation"
I should update http://www.fieldtriptoolbox.org/example/bids_eeg/ and possibly also http://www.fieldtriptoolbox.org/workshop/madrid2019/convert_bids/ to reflect the new functionality introduced in https://github.com/fieldtrip/fieldtrip/pull/1120

[2019-05-23 07:44] ualsbombe commented on #132
@britta-wstnr, now a folder for adding images has been added in: /assets/img/workshop/oslo2019

[2019-05-23 16:43] ualsbombe commented on #132
By the way, the information about electrode positions seems to be lost in the conversion from fif to the brainvision triplet? _ft\_read\_sens_ does not work on any of the files at least...

[2019-05-23 18:10] robertoostenveld commented on #132
Please try the mat file. The brainvision files do not contain positions.

Verstuurd vanaf mijn iPhone

[2019-05-24 07:06] ualsbombe commented on #132
There is no .mat file in the ftp. Only: .eeg, .vhdr and .vmrk
Might you have them somewhere else?

[2019-05-24 07:58] robertoostenveld commented on #132
I just merged #140, which includes multiple PNGs and the introduction tutorial. I still see multiple issues with it, e.g. the first numbered list is glued together with the next paragraph, and an image is missing or incorrectly named. Please check it out on http://www.fieldtriptoolbox.org/workshop/oslo2019/introduction/

[2019-05-24 08:03] robertoostenveld commented on #132
also the table-of-content reveals that the structure (heading levels) is not right yet. See http://www.fieldtriptoolbox.org/development/guideline/documentation/#how-to-structure-a-tutorial.

Furthermore, I find the layout quite crappy. The channel boxes are too large.
![multiplot](https://user-images.githubusercontent.com/899043/58312172-08452500-7e0b-11e9-84a8-3b6522e88eba.png)

If I reduce the w

[2019-05-24 08:14] robertoostenveld commented on #132
It was created in the `0_convert_data.m` script, but apparently not copied over from Dropbox to ftp. I have just added it to both the ftp _and_ Dropbox.  The ftp always takes some time to update.

[2019-05-24 11:40] ualsbombe commented on #132
Thanks, Robert - that sounds good - updating the layout would be great, thanks!

[2019-05-24 17:14] robertoostenveld commented on #132
I have just updated the layout

mac011> git push upstream master
Counting objects: 7, done.
Delta compression using up to 4 threads.
Compressing objects: 100% (7/7), done.
Writing objects: 100% (7/7), 2.20 KiB | 2.20 MiB/s, done.
Total 7 (delta 4), reused 0 (delta 0)
remote: Resolving deltas: 100% (4/4), completed with 4 local objects.
To github.com:fieldtrip/fieldtrip.git
   aa200a68d..a288d4144

[2019-05-24 17:15] robertoostenveld commented on #132
it is still up for improvements, since there is quite a large rim around the outer electrodes and the circle. Topoplot interpolations will look ugly like this.

[2019-06-04 08:26] britta-wstnr commented on #132
For completeness, the PR for the **Time frequency tutorial** is in #145

[2019-06-05 14:23] #134 closed

[2019-06-25 13:29] robertoostenveld commented on #8
Rather than each commit, we might want to announce the latest release (and the commits that it contains). The release process is now automatic, and only when all commits on master pass the full dashboard batch, the master is merged in release and given a YYYYMMDD tag. This is (partially) explained on https://github.com/fieldtrip/fieldtrip/issues/1026

[2019-06-25 13:31] robertoostenveld commented on #8
Releases could be announced as news items, i.e. as a Jekyll post with the category `news`. See  https://github.com/fieldtrip/website/tree/master/_posts for examples and https://raw.githubusercontent.com/fieldtrip/website/master/index.md for how those posts are included in the news overview.

[2019-06-25 14:40] robertoostenveld commented on #132
is there still work to be done on the tutorials? If not, please feel free to close this issue.

[2019-06-25 14:58] ualsbombe commented on #132
Since you opened it, I cannot close it, but please feel free to do so (seen from side)

[2019-06-25 20:22] #132 closed

[2019-07-15 00:03] iandol opened #164 "Provide a direct link to actual data for Monkey ECoG Tutorial"
It is not clear which dataset this tutorial is designed to work with:

https://github.com/fieldtrip/website/blob/master/tutorial/monkey_ecog.md

It gives a link to the general ECoG page with data sets from 2 monkeys, and I think the data should be from K2 if you look at the surface map picture name (`tutorial/monkey_ecog/k2_1.png`). When trying a couple of the K2 monkey datasets I get:

[code]

Th

[2019-07-15 05:36] schoffelen commented on #164
Using the data from ftp I cannot reproduce your problem. Note, that the data.mat file already contains the data_1, data_2 etc., so the call to ft_redefinetrial is not necessary.

With respect to which of the datafiles to be used for download, I don't know which one to use. I tried to look into the saved variables data_1 (data_1.cfg.previous etc.) but this is a dead end street.

Sorry I cannot be o

[2019-07-17 03:20] iandol commented on #164
Hi Jan, thanks for the feedback. OK, lets ignore the raw data and `ft_redefinetrial(cfg,data);` We now just assume we will use data.mat — it is not clear to me how to use `data_1` etc. found in data.mat.

The first place it is referenced is `ft_databrowser(cfg, data_1);` — but this gives an error `Undefined operator '-' for input arguments of type 'cell'.` — for some reason the trial structure is

[2019-08-09 16:14] robertoostenveld opened #167 "documentation of cfg.neighbours should be checked"
the user shoudl be calling ft_prepare_neighbours explicitly, since the different methods/options are not auto-detected any more.

[2019-08-09 19:45] robertoostenveld opened #168 "We should have a cookie banner to comply with GDPR"
For example like this

We should also add a privacy page, mentioning that the website uses google search, google analytics, facebook, and link to the tracking faq (which is for the software, not the website).

[2019-08-13 09:29] robertoostenveld commented on #164
This ain't good, the tutorial should just work (given the right data on the disk of the person running it).

I will add a test script for the tutorial to fieldtrip/test and give it a try...

[2019-08-25 12:17] iandol commented on #164
The original data is this one (matching raw data length of 663270): [2010-07-23 | OLDS1 | Visual Grating | K2](http://neurotycho.brain.riken.jp/download/base/20100723OLDS1_Visual+Grating_K2_Kazuhito+Takenaka-Toru+Yanagawa_mat_ECoG128-Event3.zip)

To get the data to load I modified the first part of the tutorial code:

[code]
This generates `data_1-8` that can then be used in subsequent sections (i

[2019-09-06 09:53] jcolomb opened #176 "indicate language in comment section"
For newbies like me, "scripts" is not very informative, is it python code, linux stuff or can it be used on windows bash,... would be nice to specify

[2019-09-06 09:54] robertoostenveld commented on #176
Please suggest a concrete proposal to update the documentation. Which text would you like to appear where?

[2019-09-06 11:41] jcolomb commented on #176
sorry, I was referring to http://www.fieldtriptoolbox.org/workshop/madrid2019/bids_sedation/
what type of script is it?

[2019-09-06 13:19] robertoostenveld commented on #176
That is a MATLAB script.

Since FieldTrip is a MATLAB toolbox, I think it is obvious to most people that most scripts on the website are MATLAB. Only where it is not MATLAB (there are some Python and BASH sections), it is explicitly indicated.

I can imagine that when landing on that page after a google search, it can be confusing. Please check getting started (first link in the menu), which I jus

[2019-09-06 13:27] robertoostenveld commented on #176
I just checked your ORCID profile and see that you are into open data management and FAIR. Perhaps I can use this opportunity to broaden the discussion.

On http://www.fieldtriptoolbox.org/example/bids/ you can find more examples of BIDS, using FieldTrip and MATLAB as tools to organize and annotate raw (source) data. The last week I have been busy on making more examples, and extending the [data2b

[2019-09-12 07:47] #176 closed

[2019-09-21 07:24] robertoostenveld opened #177 "add the BIDS motion capture example to the website and ftp"
the conversion has been done, but is not yet documented.

[2019-10-12 11:24] aliekhlasi opened #180 "Compatible with TRENTOOL"
Hello
Which one of fieldtrip versions compatible with trentool to calculate transfer entropy in time series?
I have full of error in fieldtrip functions

like these:

Error in getdimord>warning_dimord_could_not_be_determined (line 665)
    newline_pos=find(full_content==newline);

Error in getdimord (line 631)
  warning_dimord_could_not_be_determined(field, data);

Error in makessense (line 40)

[2019-10-13 09:27] robertoostenveld commented on #180
This is not the place to ask support questions. Please see http://www.fieldtriptoolbox.org/discussion_list/ or ask the Trentool developers.

[2019-10-13 09:27] #180 closed

[2019-12-11 13:29] robertoostenveld opened #189 "advertise the results from the paris workshop"
Add a news item about the Paris workshop and link to the new tutorials.

It would be good if @elshafeh would subsequently also tweet about it ;-)

[2019-12-11 14:31] elshafeh commented on #189
@robertoostenveld oh sure! can u maybe send me the log-in / password? and i'll tweet it ;)

[2019-12-11 14:39] elshafeh commented on #189
or maybe we wanna make a separate account for the "news"?

[2019-12-19 11:20] #189 closed

[2019-12-19 11:28] robertoostenveld opened #192 "Improve the documentation on effect size"
As discussed with @marlenemeyer, @palday, @Spaak, @schoffelen and probably with some others as well: following the recommendations of COBIDAS we should help FT users to report the effect size.

See section [6.1.2 Statistical results](https://cobidasmeeg.wordpress.com/2018/08/07/result-reporting/):

Right now we already have an example page on effect size calculation at http://www.fieldtriptoolbox.

[2019-12-19 12:23] robertoostenveld commented on #192
The tutorial on [parametric and non-parametric statistics on event-related fields](http://www.fieldtriptoolbox.org/tutorial/eventrelatedstatistics/) explores different methods for statistical testing, starting from a hand-picked average in a single channel and time window, and subsequently increases the complexity (and MCP) by adding the time dimension, and subsequently also adding the channel dim

[2019-12-19 13:02] robertoostenveld opened #193 "order of conditions should be consistent"
I noticed that in http://www.fieldtriptoolbox.org/tutorial/eventrelatedstatistics/ the order of the conditions is not always consistent. Sometimes it is FC-FIC, and other times it is FIC-FC.

In `ft_statfun_indepsamplesT.m` and `ft_statfun_depsamplesT.m` implemented by @hadrianswall  it is consistently condition 1 minus condition 2. I suggest to use the same in this tutorial.

[2019-12-19 13:03] robertoostenveld commented on #193
also in `ft_math` it is like this

[code]

[2019-12-19 13:12] robertoostenveld commented on #193
The logical contrast in this case is FIC minus FC, hence FIC=1 and FC=2.

I have checked this, this is also how it is in the http://www.fieldtriptoolbox.org/tutorial/cluster_permutation_timelock/ and http://www.fieldtriptoolbox.org/tutorial/cluster_permutation_freq/ tutorials. However, those tutorials also need some updates to make the order always consistent (i.e. always mention them in the text

[2019-12-19 13:18] robertoostenveld commented on #193
for http://www.fieldtriptoolbox.org/tutorial/cluster_permutation_freq/ some updates turn out to be needed for activation versus baseline: where activation=1 and baseline=2. All computations are correct, but sometimes a (preprocessing) computation on baseline is done first, which is not 100% consistent.

[2019-12-20 13:48] #193 closed

[2019-12-20 13:57] robertoostenveld opened #195 "false alarm rate is not controlled"
While preparing work on #192, and along the way resolving #193, I found out that the number of channels showing an effect in the grandavg FIC-FC contrast seems to be larger than it used to be ...

For example, if you compare the figure just below http://www.fieldtriptoolbox.org/tutorial/eventrelatedstatistics/#permutation-test-based-on-t-statistics with the equivalent one from http://old.fieldtrip

[2019-12-20 14:15] robertoostenveld commented on #195
One improvement to the test code above is to use
[code]
for the paired test. It can only create N^2 = 1024 (for 10 subjects) unique permutations, and with 1000 permutations there will be many doubles (and not all 1024 unique ones), causing a suboptimal randomization distribution. This should be checked in the tutorials.

We should consider giving a warning if the number of unique permutations is m

[2020-01-15 14:56] hadrianswall commented on #195
I'm sorry for the delay. I was temporarily unreachable via Github.

I have studied the problem, but I cannot reproduce it. (I used 10 subjects in my simulations.)

I added a bit of code to make the evaluation of the FA rate control easier. Specifically, I calculated the empirical FA rate (both for the permutation/Monte-Carlo and the parametric/analytic test) as well their so-called Monte Carlo sta

[2020-01-21 14:39] robertoostenveld commented on #195
I also cannot reproduce it any more, both now return the expected FA rate.

[code]

Don't know what went wrong when I tried it in December, but I suspect that somewhere in https://github.com/fieldtrip/fieldtrip/pull/1285 there is something wrong (since that is the version of the code I used in testing this).

[2020-01-21 14:39] #195 closed

[2020-01-28 12:15] #192 closed

[2020-01-29 10:16] matsvanes opened #196 "upgrade the tutorial on event-related averaging"
This tutorial is slightly outdated, especially the starting point (preprocessing of the data) should be revised. This is copied from a seperate tutorial, and should therefore also be revised there. Especially, data of all conditions should be read in at once and later seperated based on information stored in trialinfo.
Given the changes in preprocessing of the data, all data, code and figures shou

[2020-01-29 11:47] robertoostenveld commented on #196
If there is "shared" text+figures between tutorials, we could see whether de-duplication can be improved. That is already done for some content, but it is not 100% consistent (for historical reasons). See e.g. https://github.com/fieldtrip/website/tree/master/_includes/shared/tutorial and search for `/shared/tutorial/preprocessing_fc_lp` in the MD files.

[2020-01-29 11:52] robertoostenveld commented on #196
it would be good, also for @aranas and @yingjoeyzhou, to check each tutorial on whether it currently includes a shared section (or not). The shared sections are a bit more difficult to update, since in that case the downstream figures in multiple tutorials need to be updated.

For reference, these have shared sections in them:

[code]

[2020-01-29 14:05] robertoostenveld opened #197 "the effect size example should mention sample size estimation"
Right now at the end an effect size (or two) are mentioned. It would make sense for a subsequent study to use these when planning for the sample size. E.g. something like this

![Screenshot 2020-01-29 at 15 01 13](https://user-images.githubusercontent.com/899043/73363046-405d0b80-42a8-11ea-838d-9bdd53067533.png)

@hadrianswall, your input on this and http://www.fieldtriptoolbox.org/example/effects

[2020-01-30 10:58] robertoostenveld commented on #195
I found the bug in the changes here
https://github.com/fieldtrip/fieldtrip/pull/1285/files

In cleaning up the code, I accidentally messed up ivar and over:

[code]

[2020-01-30 10:58] robertoostenveld commented on #195
Please note that this bug was never released, it was only in my own development version.

[2020-02-11 15:28] matsvanes opened #201 "Reading in all conditions at once in tutorial on Trigger-based trial selection"
Instead of epoching and preprocessing the data seperately for each condition, do it once for all data (as is usually done).
Note that all other tutorials rely on this data. In order to ensure that these still work, conditions should be seperated using ft_selectdata before saving the data. @aranas @yingjoeyzhou

[2020-02-12 10:12] matsvanes commented on #201
I've now changed this (not issued a pull request yet), but I see two discussion points:

1. The default trial function and the manually written trial function (mytrialfun) now give the exact same results. This does not show what the benefit is of using a user specified trial function. Is there anything we could change (like variable trial duration, response button, extra information in the trl str

[2020-02-12 11:29] robertoostenveld commented on #201
perhaps we could make the `mytrialfun` a bit more interesting by including a `prevtrigger` column (with NaN for the very first trial). There are no responses in this data, so your other suggestions don't really suit this data.

[2020-02-12 11:33] robertoostenveld commented on #201
Re your 2.

The `PreprocData.mat` is used directly in http://www.fieldtriptoolbox.org/tutorial/visual_artifact_rejection/ I think it is a useful tutorial. The semiautomatic artifact rejection works well for data where all channels (plus noise) are rather similar, but not if channels have different patterns (e.g. as with EEG, but also neuromag).

I propose to keep it as it is.

[2020-02-12 11:35] robertoostenveld commented on #201
The http://www.fieldtriptoolbox.org/tutorial/automatic_artifact_rejection/ and the http://www.fieldtriptoolbox.org/tutorial/visual_artifact_rejection/ should both get a section "suggested further reading" for both pointing back to the http://www.fieldtriptoolbox.org/tutorial/artifacts/, and each of them pointing to the other.

[2020-02-12 16:09] matsvanes commented on #201
I've implemented the suggested changes
https://github.com/fieldtrip/website/pull/202

[2020-02-12 16:15] matsvanes commented on #201
Note that PreprocData has not yet been updated on the ftp server. Please inform me about procedure for updating this @robertoostenveld

[2020-02-14 08:09] matsvanes commented on #196
Considering these shared parts of the tutorials, it is unclear how to proceed in preprocessing all conditions at once. It is not a problem to do so in the eventrelatedaveraging tutorial, because all conditions are used here, but most other tutorials that currently share text/figures only work on one of the conditions. I suggest to preprocess the full data for each of these (step 1), and if only on

[2020-02-14 16:30] yingjoeyzhou opened #203 "upgrade the tutorial cluster_permutation_timelock"
Section 1: **Between-trials experiments**

- [x] As described in issue #196 , _the starting point (preprocessing of the data) should be revised. This is copied from a separate tutorial, and should therefore also be revised there._ -> this has been addressed by Sophie in PR #206

- [x] Also, the output stat.posclusters(1) now contains prob, clusterstat, stddev, and cirange, instead of only prob and

[2020-02-14 16:41] yingjoeyzhou commented on #203
Section 2: **Within-subjects experiments**

Similar issues for plotting apply.

[2020-02-17 14:30] aranas commented on #196
@robertoostenveld  clarification question about your comment of whether "de-duplication can be improved", this means we want to try and have as much code as possible shared between tutorials?

@matsvanes what you suggests makes sense to me. Does this mean all five /shared/tutorial/preprocessing_* scripts will be reduced to one, containing step1 and we will then add the appropriate condition select

[2020-02-19 10:58] aranas commented on #196
Right now there are several shared code file pertaining to the preprocessing:
**preprocessing_fic.md**
 (shared in)
- tutorial/beamformer.md
- tutorial/cluster_permutation_freq.md
- tutorial/timefrequencyanalysis.md

**preprocessing_fic_lp**, **preprocessing_fc_lp** & **preprocessing_ic_lp**
- tutorial/cluster_permutation_timelock.md
- tutorial/eventrelatedaveraging.md
- tutorial/minimumnormestima

[2020-02-19 11:21] matsvanes commented on #196
I think that's a great idea @aranas! I think it will improve the consistency over tutorials and in the approach (start with all conditions). I don't think it will cause any major problems for the .mat files, they would only be a few we'd have to replace I think.

**definetrial_all.md** should also be used in tutorial/preprocessing/ (which is the first tutorial to use this code).

[2020-02-19 12:41] robertoostenveld opened #205 "document the requirements for ft_specest_irasa"
See https://github.com/fieldtrip/fieldtrip/issues/1316

[2020-02-19 12:41] robertoostenveld commented on #205
@StolkArjen can you do this?

[2020-02-19 12:47] StolkArjen commented on #205
Sure, added to the list..

[2020-02-19 12:58] aranas commented on #196
Okay I will create a pull request implementing this change

[2020-02-26 21:40] StolkArjen commented on #205
Oh, I see, there's ft_specest_irasa (obviously) and the respective test function which does more than calling ft_specest_irasa. Namely, it generates pink noise and fits curves to powerspectra resulting from the IRASA procedure. ft_specest_irasa itself would not require more than its sisters, including ft_specest_mttmfft. So the steep dependencies, on a myriad toolboxes, concern the test function o

[2020-02-26 21:46] StolkArjen commented on #205
Except, where can one find "/shared/faq/requirements.md"? faq/requirements.md is pointing to it (-self?)

[2020-02-28 12:15] aranas opened #209 "referencing headings"
Some links to other pages  contain references to specific sub-headings, however these do not work. For example there is a link in the connectivity tutorial:
`[end of the coherence tutorial](/tutorial/coherence#appendix_1localisation_of_neuronal_sources_coherent_with_the_emg_using_beamformers)`

But  upon clicking it, one will be redirected to the top of the coherence tutorial. How can we properly

[2020-02-28 12:21] aranas commented on #209
nevermind, I think it was a typo

[2020-02-28 12:21] #209 closed

[2020-03-02 10:43] robertoostenveld commented on #7
there does not seem to be any interest in this at the moment, hence I am closing the issue.

[2020-03-02 10:43] #7 closed

[2020-03-02 10:47] robertoostenveld opened #211 "remove integration with facebook"
We have not been using FaceBook actively over the last few years. I don't see the point in still spilling information from all visitors to the fieldtriptoolbox.org website to FaceBook.

Hence I propose to remove the FaceBook integration.

@Spaak what do you think?

[2020-03-02 10:47] #201 closed

[2020-03-03 09:27] robertoostenveld commented on #201
for reference, PreprocData has been updated.

[2020-03-03 09:29] #211 closed

[2020-03-03 09:31] Spaak commented on #211
I propose to leave the include file for now (just don't include it anymore), it might come in handy at some point.

[2020-03-03 09:31] robertoostenveld commented on #211
fine, thanks!

[2020-03-05 16:58] robertoostenveld opened #218 "image is missing in eventrelatedaveraging"
the `trial1_3feb09_ERF.png` is missing just before this heading http://www.fieldtriptoolbox.org/tutorial/eventrelatedaveraging/#timelockanalysis

@matsvanes do you have it somewhere?

[2020-03-05 18:30] matsvanes commented on #218
@robertoostenveld I see, I put it back, see #217 (commit 4ead8a9)

[2020-03-13 10:59] robertoostenveld opened #219 "Link to data in dipole fitting example broken"
@britta-wstnr reported in https://github.com/fieldtrip/fieldtrip/issues/1338

I lately wanted to check out something in this tutorial:
http://www.fieldtriptoolbox.org/workshop/natmeg/dipolefitting/

and noticed that the link to dicom.zip does not exist on the FTP server anymore (the folder it links to is not there: server-address/workshop/natmeg/dicom.zip ).

I know the example is from a quite old

[2020-03-13 11:09] britta-wstnr commented on #219
Ah, my bad for reporting in the wrong place, thanks @robertoostenveld !

[2020-03-13 11:10] robertoostenveld commented on #219
no worries. I am just looking whether I can find them again.

[2020-03-13 11:12] robertoostenveld commented on #219
yes, they are under `server-address/tutorial/natmeg`. I now do indeed recall that there was some confusion as to this being documented under `tutorial` or `workshop` on the website (and hence ftp)

[2020-03-13 11:17] robertoostenveld commented on #219
I have moved the data `tutorial/natmeg` over to `workshop/natmeg`. It can take up to 60 minutes before it synchronizes with the actual ftp server. For now you should be able to download it from the old location (simply start at `/pub/fieldtrip`). I'll keep the bug open and check at a later time that the affected links from the website work again.

[2020-03-13 11:18] #218 closed

[2020-03-13 11:20] robertoostenveld commented on #8
Perhaps this is something to discuss with @elshafeh, who wants to change the automatic tweets that are sent. It would be nice if they were in line, e.g. to showcase every new release (not every new commit).

[2020-03-13 12:26] britta-wstnr commented on #219
Awesome, thanks @robertoostenveld !

[2020-03-13 12:27] britta-wstnr commented on #219
Also, reporting that the link in the tutorial works now!

[2020-03-13 12:28] robertoostenveld commented on #219
thanks

[2020-03-13 12:28] #219 closed

[2020-03-16 15:03] elshafeh commented on #8
hi everyone , sorry i missed today's meeting. more than happy to discuss this on the next zoom! stay safe.

[2020-03-17 09:43] Spaak commented on #8
I agree, it would be great not to tweet every commit. Should I look into making this happen?

[2020-03-17 09:50] robertoostenveld commented on #8
Yes please!

@elshafeh has the twitter details, which are stored in a `secret.sh` file like https://github.com/fieldtrip/automation/blob/master/secret-example.sh

The tweets are now sent from https://github.com/fieldtrip/automation/blob/master/webhook.js which is a small nodes server running on a Raspberry Pi in my basement.

It would make sense to make the automatic message following a release pa

[2020-03-17 09:52] robertoostenveld commented on #8
please do make sure that the twitter API secret details are not spilled on the internet in a pull request or so. That recently happened, and I had to reset all keys.

[2020-03-17 09:53] elshafeh commented on #8
Here's where we are https://github.com/fieldtrip/automation/pull/7

[2020-03-25 09:11] robertoostenveld opened #222 "work through all FAQs on the website and check whether they need updates"
Discussed this with @yingjoeyzhou in a Zoom meeting: I have an alphabetical todo list of all FAQs that need to be looked at for formatting and internal consistency. I will put this online as a google sheet to facilitate working on this jointly.

[2020-03-25 11:28] robertoostenveld commented on #222
See https://docs.google.com/spreadsheets/d/1xE8at6Ac-VMTYOmEogmp9ya_HtVcPI5aITKJr6MXAw8/edit?usp=sharing

Things to check for
- Is the title consistent (on the page as H1, in the header of the page, in the FAQ overview)
- Is the formatting consistent (see also http://www.fieldtriptoolbox.org/development/guideline/website/ and https://github.com/fieldtrip/website/blob/master/README.md#house-prose-s

[2020-03-25 11:31] robertoostenveld commented on #222
@yingjoeyzhou  if you work on this, please make a branch for the proposed changed, make the changes, push it to your repo, and send a PR. That branch would contain all changes of say one day of work. Reviewing and merging is quick, so the next day you would go back to your master branch, checkout the merged changes and again make a new branch with the proposed changes.

So don't make a branch for

[2020-03-25 11:35] yingjoeyzhou commented on #222
Ok I get it now. I'll try and work on it either tomorrow or Friday. If
things go wrong then please let me know :)

On Wed, Mar 25, 2020 at 12:32 PM Robert Oostenveld <notifications@github.com>
wrote:

[2020-03-25 11:36] robertoostenveld commented on #222
@elie-rassi FYI, Joey is going to pick this up. Perhaps you want to continue with this as well? I have now posted a google sheet with all FAQs so that it is easier to keep track of which ones have been done.

[2020-03-27 09:40] robertoostenveld opened #223 "specify senstype in ft_read_sens"
Following https://github.com/fieldtrip/fieldtrip/issues/781 and discussion with @Spaak and @schoffelen

- every occurrence of reading a CTF dataset should be explicit about MEG or EEG.
- every occurrence of reading a FIF dataset should be explicit about MEG or EEG.

[2020-03-27 09:44] robertoostenveld commented on #223
this is for `ft_plot_sens` in the fieldtrip repo, I did an incorrect reference to this issue (it is now pointing to 223 in the other repo)

mac036-lan> git commit -a
[master 4eaefb07d] updated help (and reference documentation on website) to address #223
 1 file changed, 1 insertion(+), 1 deletion(-)

[2020-03-27 09:55] #223 closed

[2020-03-27 09:57] robertoostenveld commented on #223
there was also one application of `ft_read_sens` on a yokogawa MEG dataset

[2020-03-30 16:04] thor4 opened #226 "Fix error in tutorial on using simulated ERPs to explore cluster statistics"
After creating the timelock variables, the following code throws an error:
`cfg = [];`
`cfg.operation = 'x1-x2';`
`cfg.parameter = 'avg';`
`difference = ft_math(cfg, timelock1, timelock2);`
`Error using ft_math (line 144)
the requested parameter is not present in the data`

This can be fixed by commenting out the .keeptrials from the previous section:
`cfg = [];`
`% cfg.keeptrials = 'yes';`

Howev

[2020-03-31 08:05] robertoostenveld commented on #226
The example on http://www.fieldtriptoolbox.org/example/use_simulated_erps_to_explore_cluster_statistics/ seems to predate some changes that we made to ft_timelockanalysis. The function used to always compute the average, so with keeptrials=yes, it would return `avg` and `trial`, and with keeptrials=no it would only return `avg`. However, we found that for some FT functions that would happen later

[2020-03-31 08:06] robertoostenveld commented on #226
The behaviour is now that ft_timelockanalysis returns `avg` when keeptrials=no, and `trial` when it is yes. The example still assumes it returns both.

[2020-03-31 08:12] robertoostenveld commented on #226
executing the code, I now see that ft_singleplotER is doing the averaging on the fly (as expected). So changing it into

[code]
computes the difference,  and

[code]

then plots it. However, this is the trial-by-trial difference. I.e. firs the difference is computed between all trials in condition1 and condition2, and then that difference is averaged. That is fine if the data is paired and has teh

[2020-03-31 08:21] #226 closed

[2020-03-31 08:22] robertoostenveld commented on #226
The updated version should be online in a few minutes. Thanks for reporting!

[2020-03-31 15:02] thor4 commented on #226
Thanks for such a quick and informative response!

[2020-04-03 12:33] yingjoeyzhou opened #229 "add figure to git tutorial"
@robertoostenveld can you add figure to it?

[2020-04-03 12:34] robertoostenveld commented on #229
yes, will do!

[2020-04-03 14:16] #229 closed

[2020-04-03 15:19] robertoostenveld commented on #229
See http://www.fieldtriptoolbox.org/development/git/#graphical-summary

[2020-04-08 17:38] robertoostenveld opened #232 "The formatting of the head movement example is messed up"
See http://www.fieldtriptoolbox.org/example/how_to_incorporate_head_movements_in_meg_analysis/

[2020-04-21 07:47] StolkArjen commented on #232
See https://github.com/fieldtrip/website/pull/235 for a proposed fix

[2020-04-21 08:18] schoffelen commented on #232
thanks, let's see how it renders.

[2020-04-21 08:18] #232 closed

[2020-04-21 12:12] StolkArjen commented on #232
Thanks, this worked out fine

[2020-04-22 07:55] robertoostenveld opened #236 "document the spm8/spm12 path better, to deal with mex file problems"
I suggest to rename http://www.fieldtriptoolbox.org/faq/should_i_add_fieldtrip_with_all_subdirectories_to_my_matlab_path

into "how to setup my fieldtrip path" and add the spm8/spm12 there as well

[2020-05-06 15:51] robertoostenveld opened #241 "write a getting started for the OPM data of the FIL"
This relates to https://github.com/fieldtrip/fieldtrip/issues/1395. The idea is to make a page on http://www.fieldtriptoolbox.org/getting_started/ that gives some guidance for @vlitvak and coworkers.

[2020-05-06 15:55] #241 closed

[2020-05-06 16:00] robertoostenveld commented on #241
See http://www.fieldtriptoolbox.org/getting_started/opm_fil/

[2020-05-08 08:09] schoffelen commented on #236
I can do this, but just to be sure: should I also rename the *.md file? I guess that this would break any bookmarks, right? On the other hand, for clarity it would make sense to do so @robertoostenveld.

[2020-05-15 13:23] schoffelen commented on #236
This has been done.

[2020-05-15 13:23] #236 closed

[2020-05-17 08:40] yingjoeyzhou commented on #222
Cannot decide if the "old and difficult way" is still useful. Yet it was quite obvious that there's a formatting problem (maybe because of failure displaying images) in that section. @robertoostenveld would you take a look? http://www.fieldtriptoolbox.org/faq/how_can_i_convert_an_anatomical_mri_from_dicom_into_ctf_format/

[2020-05-17 09:15] yingjoeyzhou commented on #222
this short faq http://www.fieldtriptoolbox.org/faq/how_can_i_define_my_own_neighbourhood_template/
can be "merged" into the longer one http://www.fieldtriptoolbox.org/faq/how_can_i_define_neighbouring_sensors/ to avoid switching cost of the reader.

Shall i simply copy-paste contents from the short one to the long one, and archive the short one?

[2020-05-18 15:43] robertoostenveld opened #246 "merge FAQs on neighbors"
this short faq http://www.fieldtriptoolbox.org/faq/how_can_i_define_my_own_neighbourhood_template/
can be "merged" into the longer one http://www.fieldtriptoolbox.org/faq/how_can_i_define_neighbouring_sensors/ to avoid switching cost of the reader.

Shall i simply copy-paste contents from the short one to the long one, and archive the short one?

_Originally posted by @yingjoeyzhou in https://gith

[2020-05-18 15:47] robertoostenveld commented on #246
Yes, please go ahead and merge the two. the short one should be deleted (also from the `faq.md` overview page)To ensure that existing links (e.g. in emails etc) do not break, please add a `redirect_from` entry at the top.

You can find an example in https://raw.githubusercontent.com/fieldtrip/website/master/support.md and you can check on http://www.fieldtriptoolbox.org/community/ that it works.

[2020-05-25 02:35] elvisjade opened #247 "A mistake in getting_started/eeglab/"
I find a mistake in this webs：
http://www.fieldtriptoolbox.org/getting_started/eeglab/
https://github.com/fieldtrip/website/blob/master/getting_started/eeglab.md

Together with the EEGLAB developers we maintain two functions for converting the data back and forth: fieldtrip2eeglab and eeglab2fieldtrip. Please note that eeglab2fieldtrip is included in the FieldTrip release, and that fieldtrip2eegla

[2020-05-25 06:54] robertoostenveld commented on #247
You are right, both are now maintained in the EEGLAB repository.

[2020-05-25 06:54] #247 closed

[2020-05-25 06:57] robertoostenveld commented on #247
I have fixed it on the website and now added both to the `fieldtrip/external/eeglab` directory in the fieldtrip repository.

[2020-05-25 07:08] elvisjade commented on #247
Can you provide a more clear or easy to understand data import tutorial? At present, some tutorials do not seem to be very easy to use.

I am a user of mne and eeglab, and I am studying fieldtrip recently. I have been reading the official tutorial for a long time and still do n’t understand how to import my own egi （.raw）data and eeglab data. I used eeglab2fieldtri and just imported one, but it wa

[2020-05-25 07:50] robertoostenveld commented on #247
as we write on the getting started

I propose you follow this [tutorial](http://www.fieldtriptoolbox.org/tutorial/continuous/#reading-continuous-eeg-data-into-memory), which is 3 lines in a MATLAB script. It does not get simpler than that.

If your question is more specific, then I suggest you ask it on the [mailing list](http://www.fieldtriptoolbox.org/discussion_list/), where many people can hel

[2020-05-25 08:02] elvisjade commented on #247
Thanks for your reply! I will try this tutorial.

[2020-05-28 12:24] robertoostenveld opened #248 "link to FT functions on github instead of local markdown reference page"
On http://www.fieldtriptoolbox.org/reference/ and throughout the tutorials, we are linking to pages such as http://www.fieldtriptoolbox.org/reference/ft_preprocessing/. These are automatically created and updated every night using https://github.com/fieldtrip/automation/blob/master/documentation.sh and `matlab2markdown`.

Instead of linking to the reference on the FT website, we can also link to t

[2020-05-28 14:41] #248 closed

[2020-06-11 09:26] schoffelen commented on #203
It was a bit unfortunate that during the toolkit the majority of the changes that are referenced above were not in place. While the tutorial was running 'live' in the hands on session, I already updated the figures, to now contain the helmet layout and the parula colormap. For now I have changed the above comments to contain checkboxes, so that I will be able to tick them, when finishing this issu

[2020-06-11 10:14] schoffelen commented on #203
I have done a pass on the tutorial text, which now is a bit more in line with what we advocate elsewhere on the website (e.g. do not speak about 'significant clusters' etc)

Also, I cleaned up the formatting of the matlab code blocks.

- [ ] this still needs to be copied over to the related test_tutorial_* function, to check whether I did not break anything.

Also, with respect to the other still

[2020-06-11 10:14] schoffelen commented on #196
I think that this can be closed, no? Please reopen @matsvanes if this was incorrect.

[2020-06-11 10:14] #196 closed

[2020-06-12 07:39] schoffelen opened #252 "tutorial data on ftp inconsistent with data extracted in current tutorials"
This is a potentially serious issue with wide ramifications: working on #203 I cleaned up the test code of test_tutorial_clusterpermutationtimelock, to reflect the latest state of the code as reflected on the website. This included the change from the per-condition preprocessing, to a three-condition preprocessing only then followed by a condition split (as per the shared sections of documentation

[2020-06-12 09:53] schoffelen commented on #252
The plot thickens:

The eventrelatedaveraging tutorial shows this snippet of code:

<img width="824" alt="Screenshot 2020-06-12 at 11 53 05" src="https://user-images.githubusercontent.com/1517611/84490388-64434b80-aca3-11ea-8986-bba1df9c051b.png">

[2020-06-12 09:54] schoffelen commented on #252
But also this snippet of code (notice the commented trigger values correpsonding to the individual conditions:

<img width="736" alt="Screenshot 2020-06-12 at 11 54 39" src="https://user-images.githubusercontent.com/1517611/84490484-86d56480-aca3-11ea-9da5-3bc9b6aca217.png">

[2020-06-12 09:56] robertoostenveld commented on #252
hmm, the trigger codes don't match.

[2020-06-12 09:56] schoffelen commented on #252
So, either the redefinetrial swapped the IC and FC triggers, or the documentation is incorrect.

If I look at that test_tutorial_eventrelatedaveraging, which still seems to reflect the old way of doing things, the FC trigger corresponds to a '9', thus the ft_redefinetrial step is going wrong.

I will now investigate whether this causes the above described inconsistency.

[2020-06-12 09:56] schoffelen commented on #252
what a mess.

[2020-06-12 10:05] schoffelen commented on #252
OK, confirmed. The 5 and 9 should be swapped in the ft_redefinetrial section. This essentially cased the 'dataIC' and 'dataFC' to be swapped. Doing this by hand and computing the stat (FIC vs. FC) now yields a clusterstat that is getting close to the one reported on the website. Yet, there is still one more 'bad trial' in the data_all, in comparison to the combined bad trials for the originally ex

[2020-06-12 10:08] schoffelen commented on #252
To do:

- [ ] swap the 5 and 9 trigger codes in the respective ft_redefinetrial sections
- [ ] get feedback from @aranas, @matsvanes, @yingjoeyzhou whether they recently updated any tutorial figures (after the shared definetrial_all went live)
- [ ] decide whether the badtrial definition new-style should be forced to be exactly equal to how it was before, to maximize the probability that the indiv

[2020-06-12 11:26] schoffelen commented on #252
I took the executive decision to force the list of badtrials (as defined in the shared preprocessing_lp.md etc.) to be a match to how it was defined before, this required to remove trial 132 from the list of bad trials. As a result, the reported stat.posclusters(1).clusterstat is consistent again with the one that results from the computations using the currently advertised aanvliegroute.

[2020-06-12 11:58] schoffelen commented on #252
Self answering one of the questions posed above: it seems that @matsvanes has re-created the ftp data in preparation for the toolkit (march 2020). Since a quick comparison on /home/common/matlab/fieldtrip/data/ft/tutorial yields 3 dataFIC_LP.mat (and FC) files that are quite different in size, and given the mix up with the trigger codes, I suspect that the numeric content of these 3 files might ve

[2020-06-12 11:59] schoffelen commented on #252
BTW the other tutorials that have a precomputed dataFC etc are the minimumnormestimate and cluster_permutation_timelock

[2020-06-12 12:36] schoffelen commented on #252
I checked the consistency of the data on ftp, and it is now clear that the conditions are wrong in the eventrelatedaveraging tutorial: IC and FC should be swapped (and in addition one trial should not have been removed).

[2020-06-12 12:37] schoffelen commented on #252
For now I will physically swap the file names, but we should fix this in the code of test_tutorial_blabla, and run the function once with the save options uncommented

[2020-06-12 12:50] schoffelen commented on #252
swapping of file names was not good. I have now updated the test_tutorial code and ran a full sweep. new data has been saved to the ftp.

[2020-06-12 12:50] #252 closed

[2020-06-12 12:53] schoffelen commented on #203
This is as far as I am going to take it now, the data on ftp are in sync and consistent with the old versions. Also the tutorial online has been much improved and the corresponding test_tutorial function reflects the tutorial again.

[2020-06-12 12:53] #203 closed

[2020-06-25 05:52] schoffelen commented on #205
it's in _includes/shared/faq

[2020-06-25 05:52] schoffelen commented on #205
Do you need anything more to finish and close this @StolkArjen ?

[2020-06-25 06:02] StolkArjen commented on #205
I remember doing this already directly on the wiki, so yes go ahead and
close it.

On Thu, Jun 25, 2020 at 7:52 AM Jan-Mathijs Schoffelen <
notifications@github.com> wrote:

[2020-06-25 06:03] schoffelen commented on #205
uhm, you can close yourself, right? For now I will do this for you :)

[2020-06-25 06:03] #205 closed

[2020-06-25 06:13] StolkArjen commented on #205
that would require a dramatic shift in my conceptualization of github

On Thu, Jun 25, 2020 at 8:04 AM Jan-Mathijs Schoffelen <
notifications@github.com> wrote:

[2020-06-25 06:21] StolkArjen commented on #205
btw, this reminds me that some figures need adding still on
http://www.fieldtriptoolbox.org/example/irasa/

in which folder of my ft website git repo should these figures go? - sorry,
I'm a little rusty

On Thu, Jun 25, 2020 at 8:13 AM Arjen Stolk <a.stolk8@gmail.com> wrote:

[2020-06-25 06:21] schoffelen commented on #205
I thought so. Will I see you at bootcamp later?

[2020-06-25 06:24] StolkArjen commented on #205
sorry, no, barely speak matlab anymore (javascript, don't ask)

can I create assets/img/example/irasa/ ?

On Thu, Jun 25, 2020 at 8:21 AM Jan-Mathijs Schoffelen <
notifications@github.com> wrote:

[2020-06-25 06:29] schoffelen commented on #205
but you still speak burpee, right?

sure you can create this, but it would require some git magic :)

[2020-06-25 06:49] StolkArjen commented on #205
which bootcamp are you referring to?:)

On Thu, Jun 25, 2020 at 8:29 AM Jan-Mathijs Schoffelen <
notifications@github.com> wrote:

[2020-06-25 07:00] schoffelen commented on #246
BTW, I haven't removed the to-be-unlinked short faq

[2020-06-25 07:15] schoffelen commented on #246
So, do I need to add a redirect_to on the old page, or, if I remove it altogether, it should work

[2020-06-25 09:29] robertoostenveld commented on #246
The `redirect_to` goes in the new page, referring to the old page, and the old page is to be deleted.

I checked both links (from the first post) and both redirect to the same page. So the old page can be deleted. I'll do that now.

[2020-06-25 09:31] #246 closed

[2020-06-25 13:25] kenzo0619 opened #261 "headmodel tutorial error"
Hi expert, I am new to Fieldtrip and I'm trying to learn how to create a head model, but it gets me an error when I try to align electrodes to head model. The Matlab error shows:
**Error in ft_electroderealign (line 480)
tmpl_nas(i,:) = target(i).elecpos(nas_indx,:);**
I am using Matlab 2019a and the newest fieldtrip version. I have also tried the older version but the error is the same. May I ask

[2020-06-25 13:33] schoffelen commented on #261
You may ask for help, but this is not the right location. Please refer to the e-mail discussion list to ask for help, and take care to put sufficient information in you e-mail. The stuff you wrote above is not sufficiently informative.

[2020-06-25 13:33] #261 closed

[2020-08-09 15:39] #168 closed

[2020-08-10 08:36] Spaak opened #267 "YouTube embeddings not working "due to cookie settings""
See title, and e.g. here: http://www.fieldtriptoolbox.org/tutorial/introduction/, where we see "External content is disabled due to cookie settings."

[2020-08-10 09:32] robertoostenveld commented on #267
yes, that is the new "feature", not a bug. If you don't allow extenal cookies, we cannot display inline youtube video (since those would set cookies). See #168.

On http://www.fieldtriptoolbox.org/privacy/ is a button to reset the cookie permission.

If you feel like it, this is something we can discuss in person. I'll send you a zoom link in Mattermost.

[2020-08-10 11:44] Spaak commented on #267
OK, I think I simply never got the popup asking me to approve cookies, due to a "cookie popup" blocker extension I have running. In general I agree this is a good way to handle cookies and external content. I'll polish the functionality a little bit (will file PR).

[2020-08-10 11:44] #267 closed

[2020-08-10 11:55] robertoostenveld commented on #267
That makes sense: as long as permission has not been granted by the user (i.e. while the "cookie popup" is shown, or hidden in your case), it is treated as if the permission were declined.

[2020-08-14 15:28] robertoostenveld opened #268 "display of external material is broken in case multiple external elements appear on a single page"
if you go to http://fieldtriptoolbox.org/video/ and allow external content (i.e. cookies), the first video is stephen (which should be the 2nd) and the second is not shown. That is because the each jacascript snippet replaces the first `External content is disabled due to cookie settings` element with the youtube URL, which means that the 1st `External content is disabled due to cookie settings` i

[2020-08-16 14:07] #268 closed

[2020-08-26 13:12] schoffelen commented on #110
I increased the size.

[2020-08-26 13:12] #110 closed

[2020-08-28 06:45] Spaak opened #270 "FieldTrip website should have an SSL certificate; maybe switch hosting?"
It has nowadays become standard for all serious websites to be served via https, rather than plain (unsecured) http. https websites are typically also ranked higher in search results (by e.g. Google) than http, and many browsers will now display an explicit "Unsecure" warning when browsing non-secure websites. This trend will likely continue, and it's not unlikely that in a few years time plain ht

[2020-08-28 11:19] robertoostenveld commented on #270
Hi Eelke, this addresses two topics, which I understand perhaps might be addressed in one go.

- the SSL certificate -> yes, I agree
- switching hosting -> hmm ... (see below)

I hardly ever get complaints about the website being down. That was more often with the previous dokuwiki site, which from time to time also had other issues (spam, hacking). Right now I think that you are specifically sens

[2020-09-01 15:51] robertoostenveld opened #272 "incorrect "site search is disabled due to your privacy settings""
This shows on all tag overview pages such as http://www.fieldtriptoolbox.org/tag/nirs/, even though I have allowed cookies.

I suspect it is because the html layout format of the main pages is different from that of the tag overview pages. See https://github.com/fieldtrip/website/blob/master/_layouts/default.html and https://github.com/fieldtrip/website/blob/master/_layouts/tag.html

[2020-09-02 07:16] #272 closed

[2020-09-03 06:51] schoffelen commented on #222
closing this because @yingjoeyzhou has resigned from contributing to fieldtrip

[2020-09-03 06:51] #222 closed

[2020-09-03 09:48] schoffelen commented on #70
I think that this has been done. Closing time.

[2020-09-03 09:48] #70 closed

[2020-09-04 07:39] Spaak commented on #270
Yes, that's true. Although I can't imagine that during a downtime of ~5 minutes or so during the daytime no one will have tried to access the website. No complaints does not mean no effects, of course. (I.e. people will have been refreshing and it's back after a few minutes--no cause for complaining, just mild annoyance.) The good news is that there hasn't been downtime since December 2019. My imp

[2020-09-04 08:10] robertoostenveld commented on #270
I am using letsencrypt on the raspberry pi that I have in my basement as server, but that is with nginx rather than with apache. I am mainly using nginx as the reverse proxy for some internal servers  (i.e. in-house I have some servers with plain http, and nginx slaps the SSL on top of it, so that externally it is https). That letsencrypt configuration was rather complex. Well, I followed a recipe

[2020-09-06 08:27] robertoostenveld commented on #8
I have made an alternative implementation, using a news item that can be displayed on the front page just like all other news items. The Bash script that creates the news item is `release-newsitem.sh` in https://github.com/fieldtrip/automation

It makes a branch of the website, creates the news item, commits, pushes the branch and (although disabled at the moment) creates a pull request. At that m

[2020-09-08 18:35] robertoostenveld opened #281 "add newsitem and send tweet for recent releases"
to follow up on #275 let's give it a try...

Dear tweetmeisters @Spaak and @elshafeh, can you please handle #277, #278, #279 and #208? Since there are 2 releases out of these 4 that were judged newsworthy, I propose that both of you take one that is to be posted and one that is to be dropped.

Please do your edits (or close the PR without merging to drop it). The `tweet` section in the heading wil

[2020-09-08 18:42] elshafeh commented on #281
This evening I'll announce that we're changing our tweeting system and tomorrow will tweet about the new releases. And I imagine you meant #280 not and #208?

[2020-09-08 20:18] robertoostenveld commented on #281
I have just deleted the premature tweet and reset access permissions to prevent this from happening again, since apparently there is still no agreement how it is supposed to work.

The strategy I want is that _news_ is not about only tweeting, but about reaching out to all our users. And it might involve _all_ our channels. The procedure I have in mind is

1. a news item gets written, either by ha

[2020-09-08 20:19] robertoostenveld commented on #281
correct

[2020-09-08 21:34] elshafeh commented on #281
I apologise for probably missing my cues here and overstepping the five steps I was not aware of. It is ironic though for miscommunication to occur within an attempt to improve communication. I do not think that all channels should be conveying the same messages i.e. it doesn't make sense to me that announcing a change in twitter communication strategy should pop up in the news section. And while

[2020-09-09 06:41] robertoostenveld commented on #281
if we want to have more people following us on twitter because we have improved the content of the tweets, it makes sense IMHO to announce that on a location that is _not_ twitter. Saying on twitter "hey we have (or will) changed" is rather superfluous, people that are already following http://twitter.com/fieldtriptoolbx will notice it there anyway.

[2020-09-09 06:48] robertoostenveld commented on #281
Not all channels convey the same information or in the same format: Note the difference in the example posts that I made in the PRs between heading (tweet) and body (news item). But all channels are catered through the same mechanism, to ensure that on one channel we don't forget that the other exists as well. E.g. you might forget that there is news to be communicated on the website, or on the ma

[2020-09-09 07:51] elshafeh commented on #281
It is not superfluous. The ratio between the number of followers and the impact our tweets do not add up i.e. the account has been muted or whatever. IMHO that audience we're reaching out only through a mailing list have already made up their minds up on twitter and thus not to be targeted. And in any case, if that announcement has been deemed news-y, it could have turned into a news item later on

[2020-09-09 08:47] robertoostenveld commented on #281
let's try to get some content news out...

[2020-09-09 10:09] elshafeh commented on #281
Alrighty. Forward us the new credentials and I’ll work on it this afternoon. Don’t know if @Spaak wants to add something?

[2020-09-09 11:24] Spaak commented on #281
Is point (5) already how it works now (i.e., once we merge the PRs there will be tweets), or is this still to-be-implemented? I can still see auto-generated commit tweets in our Twitter account; those will have to be stopped before we enable the new functionality.

I agree with Hesham that announcing the new approach (specifically: we've stopped tweeting all commits and aim to increase our SNR) on

[2020-09-09 11:33] robertoostenveld commented on #281
Yes, it is implemented but not fully tested.

The automatic handling of point 1 and 2 are implemented with https://github.com/fieldtrip/automation/blob/master/release-newsitem.sh. This is called from a fieldtrip/fieldtrip webhook. I used a manual trigger of this hook to generate 277-280.

Point 5 is impemented with https://github.com/fieldtrip/automation/blob/master/send-tweet-newsitem.sh. This is

[2020-09-09 11:52] Spaak commented on #281
I did #277 (closed) and #278 (made some edits but not merged yet--see there).

[2020-09-09 17:54] robertoostenveld commented on #281
so #279 and #280 somehow have the previous/current/next version messed up. I propose I delete those branches and try to generate them once more. Agreed?

[2020-09-09 18:00] robertoostenveld commented on #281
#278 has the link to github `previous to current` correct, so as far as I can tell that is ready to merge. Please be my guest, and let's see whether the tweet works.

[2020-09-14 13:51] Spaak commented on #281
@robertoostenveld I'd say we want to stop the automatic tweeting at the same time as (or before) establishing the new tweeting scheme, would you agree?

[2020-09-14 14:02] robertoostenveld opened #283 "investigate why the tweet was not sent"
#282 worked in the sense that http://www.fieldtriptoolbox.org/#11-september-2020 appeared online, but I have not yet seen a corresponding tweet on http://twitter.com/fieldtriptoolbx.

I will have to look in the log files.

[2020-09-14 14:21] robertoostenveld commented on #281
No, let’s first see if the new tweets work, then we switch off the old.

 There is no urgency to stop doing what we have been doing for 10 years

Verstuurd vanaf mijn iPhone

[2020-09-15 06:48] Spaak commented on #281
Spoken like a true conservative ;)

But of course, I agree, there is no urgency here whatsoever. Just as long as we realize that any tweets we send out now will probably not get noticed by many people. This is perfectly fine for testing of course, but we'll probably want to save any really important new-style high-quality tweets until the auto-commit-tweets have stopped. On a related note: we migh

[2020-09-15 06:58] robertoostenveld commented on #283
It is not clear to me. The tweethash file already included the has of the tweet, although it was not sent. Removing the hash and retriggering the script resulted in the expected https://twitter.com/fieldtriptoolbx/status/1305762155883528192

I did notice that the URL in the tweet is incorrect, "September" should be "september".

[2020-09-15 08:41] elshafeh commented on #281
I agree with @Spaak on this one. This will quickly get messy. Of course, it's important to try out all sorts of scripts but I strongly believe that we should be spending as much effort on rendering the tweets (and the account behind it) less impersonal and more engaging. Same goes for any public outreach.

[2020-09-15 09:07] robertoostenveld commented on #281
I fully agree that we should spend our time on effective public outreach. That is also why I had asked you to merge and tweet last week (which did not happen, hence I am taking action myself). What do you think **you** can do about this?

[2020-09-15 09:48] elshafeh commented on #281
Good question. I think it was clear what **I** can (and did) about this with my actions being labelled premature, access denied, and coming in terms with a plan in which I do not fully understand my role in, nor entirely agree to :)

Is it simply clicking on the merge button? Why not, but this not what I had in mind for a contribution. Is it editing the tweets (& news items) before they are sent o

[2020-09-15 10:28] robertoostenveld commented on #283
I have fixed the URL anchor in https://github.com/fieldtrip/automation/commit/28a5d4ed66dadd4d3218ba5b415dd5876c913254. The next time it should be correct. I also added slightly more feedback that will appear in the log file the next time https://github.com/fieldtrip/automation/blob/master/send-tweet-newsitem.sh is executed (which happens if a news item is merged).

[2020-09-15 10:28] robertoostenveld commented on #283
I propose to test this with #284

[2020-09-15 10:28] #283 closed

[2020-09-15 12:58] robertoostenveld opened #285 "create new EEG networking tutorial"
See https://github.com/fieldtrip/website/compare/143d2caca466...d704d3d5aba1

@schoffelen could you clarify what the plan is, why this is not in a branch during development, and could you also tag Tzvetan on this issue (I could not find him on GitHub)

[2020-09-15 13:25] schoffelen commented on #285
Tzvetan is going to contribute a new tutorial, and he does not seem to be on github. In order for him to edit the page through the web-interface, it needs to exist in a way so that he can 'see' it. He promised to work on it tomorrow.
For now, I will empty the page, and add an 'under construction' statement.

[2020-09-15 13:33] robertoostenveld commented on #285
cool! Go-go Tzvetan!
https://www.youtube.com/watch?v=QOwCUkqjzKo

[2020-09-15 13:35] schoffelen commented on #285
OK, I added a 'danger' box, rather than emptying the page altogether, so that Tz. has a scaffold structure to use

[2020-09-28 13:01] #285 closed

[2020-10-01 14:57] robertoostenveld commented on #270
https://www.fieldtriptoolbox.org is now working, and calls to http automatically redirects to the https version.

We should go through the Jekyll configs to ensure that all links are directly to the https address.

[2020-10-07 07:56] Spaak commented on #270
I did a global search/replace, see https://github.com/fieldtrip/website/pull/304 . I'll leave the merge to you, just in case.

[2020-10-07 09:11] robertoostenveld commented on #270
It looks good now in the online version, all relative links go to https.
Thanks for working on this!

[2020-10-07 09:11] #270 closed

[2020-10-13 13:34] robertoostenveld commented on #281
I am happy with how the releases and news items are now being announced. I hope you as well.

[2020-12-31 08:09] schoffelen commented on #8
given the new tweet and roeptoeter strategy, I think that this one can be closed.

[2020-12-31 08:09] #8 closed

[2021-03-10 11:27] wycalan opened #364 "Make an example that shows how to use simulations to estimate the sample size for a cluster-based permutation test"
Nowadays, providing justification for sample size is required for reporting a research. Many researchers use G*power to conduct a power analysis to estimate the sample size required for their studies. However, this prevailing software is not suitable for EEG research using the cluster-based permutation test to estimate the statistical significance of an effect, because of the non-parametric nature

[2021-03-10 13:31] robertoostenveld commented on #364
This is related to https://osf.io/rmqhc/, but also https://www.fieldtriptoolbox.org/example/effectsize/ and to issue #197.

[2021-03-10 13:36] robertoostenveld commented on #364
@wycalan I propose that you make an example page `example/effectsize.md` and on that page describe in a few sentences of text, but mainly with a few blocks of MATLAB code, how people can use your code.

There are a few aspects in the page formatting that are a bit tricky. See https://www.fieldtriptoolbox.org/development/guideline/website. To get started, I recommend that you copy and paste the hea

[2021-03-10 13:38] robertoostenveld commented on #364
You should take steps 1-7 from the [tutorial](https://www.fieldtriptoolbox.org/development/git/#tutorial) to create a pull request. Let us know if anything is unclear.

[2021-03-11 07:26] wycalan commented on #364
OK, I will work on it next week.

[2021-03-11 10:34] robertoostenveld opened #366 "Add a link to the online lectures of Mike X Cohen"
@mikexcohen has a series of lectures on youtube that we should link to on https://www.fieldtriptoolbox.org/video/#other-online-video-resources

[2021-03-26 01:50] wycalan commented on #364
Hi, Robert, I have written a example page and pulled request, see [sample size #368](https://github.com/fieldtrip/website/pull/368)

[2021-03-29 08:01] #364 closed

[2021-03-30 08:58] robertoostenveld opened #372 "news item and tweet don't appear"
by merging #371 there should have been a tweet and a news item on the front page

[2021-03-30 09:08] robertoostenveld commented on #372
the tweet was not sent because it was too long. I sent a slightly shorter version manually.

All is fine now

[2021-03-30 09:08] #372 closed

[2021-04-19 16:03] robertoostenveld opened #384 "Bug in getting started with Yokogawa page"
This was identified in the MEG toolkit:

[2021-04-19 16:04] schoffelen commented on #384
Indeed, I nudged the participant to provide a fix to the code...

[2021-04-19 16:07] schoffelen commented on #384
BTW, there are 3 participants with KIT/yokogawa data, let's see whether there's a quorum to derive some heuristics that can be used to streamline trigger reading etc.

[2021-04-19 18:04] grahamflick commented on #384
Submit a PR with a simple fix for the `mytrialfun` definition here #385

[2021-04-19 18:24] robertoostenveld commented on #384
this is now closed with #385

[2021-05-20 10:31] Yodaswag opened #405 "Mistake in the example for the realtime signal viewer"
the following relates to code presented in the fieldtrip documentation (in this link):
https://www.fieldtriptoolbox.org/example/ft_realtime_signalviewer/#example-use

____________________________________________________________________________________________
running:
[code]
will return the following error:
[code]

this is because the variable B is created only when a filter is added to the cfg st

[2021-05-20 15:28] robertoostenveld commented on #405
thanks for reporting, you are right.  The documentation on the website and the actual code are not consistent. However, I think it would be better to fix it in the code instead. There is now the option `cfg.onlinefilter` which is not documented, and for which the default ('yes') is not linked to the actual setting of the lpfilter/hpfilter/bpfilter.

I don't understand what the purpose of `cfg.onli

[2021-05-20 15:34] robertoostenveld commented on #405
if you download the latest master, or wait until the next release (probably tonight), the code will be fixed.
thanks once more!

[2021-05-20 15:34] #405 closed

[2021-05-20 15:36] robertoostenveld commented on #405
Now that I look at the documentation, I notice that it has not been updated for quite some time and some URL links are broken. The functions that are listed on the documentation pages are now also in the fieldtrip release, so better would be not to list them on the website pages any more, as that only makes maintenance harder.

[2021-05-23 07:17] Yodaswag opened #407 "Can't read Artinis oxy4 file in real-time"
I am currently trying to read to data from my Artinis Octamon directly into Matlab in real-time using the fieldtrip buffer.
This is the code I ran:
[code]

and this is the error that I keep getting if I run it while recording new data in Oxysoft:
[code]
When running the same code after finishing the recording I don't get an error and instead I get this:
`processing segment 1 from sample 2900 to 29

[2021-05-23 09:06] robertoostenveld commented on #407
Hi @Yodaswag,

the Artinis code is not fully open-source (some functions are precompiled p-files) and is not maintained by the core FieldTrip team. You should therefore ask for support at Artinis, e.g. @Horschig or @sofisappia.

Furthermore, issues with the code (like this) should be reported at the `fieldtrip/fieldtrip` repository, not the `fieldtrip/website` repository.

[2021-05-23 09:06] #407 closed

[2021-05-23 09:43] Yodaswag commented on #407
I see. Thank you very much for your help and support robert

Kind regards, Ori Shriki

P.s  my father, Oren Shriki, Send his regards as well :)

[2021-06-08 15:26] robertoostenveld commented on #177
this was done at a certain point, and can be found at https://www.fieldtriptoolbox.org/example/bids_motion/

[2021-06-08 15:26] #177 closed

[2021-07-26 00:14] complexbrains commented on #366
Hi Robert,

it is one of the lecture series I learnt all the basics that I know about the analysis of EEG data. So it is a pleasure to fix this issue!
Thank you!

[2021-07-26 07:02] #366 closed

[2021-09-16 11:58] robertoostenveld opened #456 "BIDS example image is broken"
I don't know what happened, but the image `assets/img/example/bids/BIDS_example.png` is broken. This is on the website, on github, and also on my local computer.

@LucaLaFisca could you check your copy?

[2021-09-16 14:52] robertoostenveld commented on #456
the image itself. This is what I get

![Screenshot 2021-09-16 at 16 50 17](https://user-images.githubusercontent.com/899043/133634287-b25e2c53-b122-4acd-982e-101b6488a369.png)

and this

![image](https://user-images.githubusercontent.com/899043/133634521-48c2ca2c-d2cb-45f1-9eb4-6922b3e92169.png)

The clone/copy on my own computer also has an image that does not work. Or is it due to my computer? I

[2021-09-16 15:01] LucaLaFisca commented on #456
That's weird... I just went to the github page with the account of a colleague and the image appears properly.
Yes, I see the image when I go to the website:
![image](https://user-images.githubusercontent.com/39408466/133636291-600bfc98-878a-4940-8488-1eea78ccf2ab.png)

[2021-09-16 15:08] robertoostenveld commented on #456
hmm ... I just tried with different browsers, the problem only applies to Safari, Firefox and Chrome are both fine.

**
![image](https://user-images.githubusercontent.com/899043/133637339-153e2b2b-5e3f-4f99-91dc-f42f0e5f8861.png)
**

So it is specific to my computer.

[2021-09-16 15:11] LucaLaFisca commented on #456
Ok... Is it the same for the other images?

[2021-09-20 08:56] robertoostenveld commented on #456
I established that the problem is due to the imagine being in [webp format](https://en.wikipedia.org/wiki/WebP) and not png as suggested by its extension. macOS Safari browsers only support webp in recent versions, apparently my version is too old.

@LucaLaFisca can you convert the webp file to png?

[2021-09-21 10:37] robertoostenveld opened #462 "DSS should have a reference to the original methods paper"
The page https://www.fieldtriptoolbox.org/example/use_denoising_source_separation_dss_to_remove_ecg_artifacts/ should point to the paper

[2021-09-21 10:37] #456 closed

[2021-09-23 09:30] schoffelen commented on #462
OK, done!

[2021-09-23 09:30] #462 closed

[2021-11-09 17:47] schoffelen opened #480 "headmodel_eeg_fem tutorial is broken."
Based on the below e-mail on the discussion list, I wanted to look into the headmodel_eeg_fem tutorial.

I markdown2matlabbed it, but the code is dysfunctional. Several things seem amiss, e.g. the 'fid' structure that is created causes problems in electroderealign, and the 'style', 'sr' key-value pair is not supported for ft_plot_sens.

By consequence I have not yet gotten to the reported 'issue'

[2021-11-10 07:51] robertoostenveld opened #481 "the list of external toolboxes should be updated"
as identified in https://github.com/fieldtrip/fieldtrip/issues/1916

[2021-11-10 12:44] mcpiastra commented on #480
I am not familiar with this bit:
*I markdown2matlabbed it, but the code is dysfunctional. Several things seem amiss, e.g. the 'fid' structure that is created causes problems in electroderealign, and the 'style', 'sr' key-value pair is not supported for ft_plot_sens.*
but happy to work on the headmodel_eeg_fem tutorial.
@schoffelen we could discuss this during the next hackathon..?

best,
MC

[2021-11-10 12:58] schoffelen commented on #480
I see. markdown2matlab converts the documentation file into a matlab script, so that it can be easily run in matlab.
There are some issues currently, which I will address first. Happy to discuss this further if needed.

[2021-11-10 13:59] #481 closed

[2021-11-11 12:31] schoffelen commented on #480
I think it is now fixed, and it should work with the PR: https://github.com/fieldtrip/fieldtrip/pull/1919

[2021-11-11 12:31] #480 closed

[2021-11-16 16:27] robertoostenveld opened #483 "remove ft_qualitycheck from the website"
linked to https://github.com/fieldtrip/fieldtrip/pull/1925 we should also clean up the documentation.

We have a FAQ on [how can I check the quality of an EEG or MEG recording](https://www.fieldtriptoolbox.org/faq/how_can_i_check_the_quality_of_an_meeg_dataset/) (which still mentions Odin). The content of the FAQ should move to https://github.com/Donders-Institute/meg_quality

There is a short men

[2021-11-16 16:48] schoffelen commented on #483
Good one. W.r.t. the FAQ that mentions Odin, given that it is specific to DCCN, should we consider moving it to the meg_quality github in some form?

[2021-11-17 07:51] robertoostenveld commented on #483
yes, I don't think that one is of relevance for anyone outside the DCCN.

[2021-11-18 12:59] #483 closed

[2021-12-19 09:29] robertoostenveld opened #495 "Download form is missing"
The php form on https://www.fieldtriptoolbox.org/download.php is missing,  probably to a rebuild of the website. This also happened last week, but I thought I had fixed it. Apparently not.

[2021-12-19 13:55] #495 closed

[2022-01-05 14:47] robertoostenveld opened #498 "add links to recent papers on the home page"
To highlight papers that have used FieldTrip (or that cite it), we could add those publications to the home page, similarly how we add the news items.

I have studied https://www.ncbi.nlm.nih.gov/books/NBK25500/ and the https://dev.elsevier.com APIs. Scopus is more complete, but Pubmed is more open.

This could look something like this

<img width="1720" alt="Screenshot 2022-01-05 at 15 44 08" src

[2022-01-06 12:43] #498 closed

[2022-02-03 12:05] robertoostenveld opened #509 "Improve privacy of embedded youtube and vimeo video's"
although we only show embedded videos AFTER visitors agreeing, we can improve it further by using https://www.youtube-nocookie.com. See https://axbom.com/embed-youtube-videos-without-cookies/

[2022-02-03 12:43] robertoostenveld commented on #509
turns out there is something similar for https://stackoverflow.com/questions/48785347/include-vimeo-in-website-without-allow-advertising-cookies

[2022-02-03 12:45] #509 closed

[2022-02-07 09:06] robertoostenveld opened #513 "fix redirects"
@Spaak thanks for fixing c85f21f23873c875bf04b9613857887f5778262e. However, I think it reveals another problem that was introduced by @schoffelen in https://github.com/fieldtrip/website/commit/42e4bf3779b8de009eaa2267ef6f93514828e4ab, namely that some redirects from the old pages are simply not correct. Removing the incorrect redirects is not the proper solution, we should replace them with the ol

[2022-02-07 10:45] schoffelen commented on #513
Shouldn't I look into this? It feels a bit silly that @Spaak needs to clean up my mess....
My changes intended to redirect (internal and external) links to the example pages for which I shortened the file names.
Wish I never did that...

[2022-02-07 10:54] robertoostenveld commented on #513
sure, you can take it as well. My thought was that Eelke had them open in his editor anyway so might be able to quickly do it.

[2022-02-07 14:32] robertoostenveld commented on #513
do you have them somewhere as PR? Or do you want to merge directly?

[2022-02-07 14:34] schoffelen commented on #513
I already pushed :)

[2022-02-07 14:35] schoffelen commented on #513
wait, I think I only pushed to my github. Lemme check

[2022-04-02 08:20] robertoostenveld opened #532 "switch from FTP to WEBDAV for downloads"
FTP is getting more and more problematic, because webbrowsers don't support it any more, and because the RU ICT department considers it an unsafe protocol.

The DCCN TG with @hurngchunlee are currently setting up a WEBDAV server to host the same files as now distributed via the FTP server. The name will be `download.fieldtriptoolbox.org` and it should become available both through http and https.

[2022-04-07 11:04] hurngchunlee commented on #532
The webdav (https://download.fieldtriptoolbox.org) is up and running.  Please test it and let me know if there are issues.

Furthermore, I would like to add one more item to the action list:
- [ ] inform the TG to decommission the FTP server

[2022-04-15 10:59] robertoostenveld commented on #532
I have made the corresponding changes to the fieldtrip website, to the README and to the php download form. I suggest we wait a few days to see whether it all works as expected.

[2022-04-15 11:09] robertoostenveld commented on #532
I have also added a news item on the front page. I decided not to add a tweet to it, it is not that interesting.

[2022-04-22 07:53] hurngchunlee commented on #532
@robertoostenveld shall we decommission the FTP server or you want to wait a bit longer?

[2022-04-22 08:06] hurngchunlee commented on #532
thanks @robertoostenveld. The TG will take care of it.

[2022-04-22 10:44] #532 closed

[2022-05-03 19:10] schoffelen opened #540 "links to figures in example page about dss are broken"
https://github.com/fieldtrip/website/blob/master/example/use_denoising_source_separation_dss_to_remove_ecg_artifacts.md

[2022-05-03 19:11] schoffelen commented on #540
https://www.fieldtriptoolbox.org/example/use_denoising_source_separation_dss_to_remove_ecg_artifacts/

I cannot quickly find back the required figures. Probablly easiest to re-create them.

[2022-05-10 06:46] robertoostenveld opened #542 "megrealign should not be mentioned in ERF tutorial"
... this was identified in the toolkit.

[2022-05-24 11:14] robertoostenveld opened #550 "update the data2bids examples for the BIDS motion"
As discussed with @sjeung and @JuliusWelzel, I will rerun the data2bids and update the https://www.fieldtriptoolbox.org/example/bids_motion/ page (and the data on the download server) with the recent changes in https://github.com/fieldtrip/fieldtrip/pull/2036.

Furthermore, I will extend the page with the XDF example from Sein.

[2022-05-27 08:27] robertoostenveld commented on #550
The PR #2034 with updates to `data2bids` has now been merged.

I have already downloaded and rerun the existing motion examples, they still work fine. I still need to update the example page.

[2022-05-31 14:51] johalgermissen opened #552 "Replace ft_redefinetrial with ft_selectdata in tutorial/eventrelatedaveraging"
In this tutorial (used as entry tutorial in the Donders MEG/EEG Toolkit 2022), under https://www.fieldtriptoolbox.org/tutorial/eventrelatedaveraging/#cleaning, `ft_redefinetrial` is used to select different subsets of trials and then save them.

`ft_redefinetrial` isn't particularly flexible in selecting subsets of the data; e.g. you can't use it to select channels or frequencies as required in la

[2022-06-01 07:01] robertoostenveld commented on #552
agreed, `ft_redefinetrial` is overly complex and not needed here.

[2022-06-02 08:44] robertoostenveld commented on #552
this has been resolved with #553 and #554

[2022-06-02 08:44] #552 closed

[2022-06-07 07:03] robertoostenveld commented on #35
I came across some yellow and blue boxes with an icon, which reminded me of this issue.

On https://docutils.sourceforge.io/docs/ref/rst/directives.html the elements attention, caution, danger, error, hint, important, note, tip, warning are called "admonitions", which translates to "a firm warning or reprimand".

We have something similar implemented in https://github.com/fieldtrip/website/tree/ma

[2022-06-24 10:42] robertoostenveld opened #564 "update the figures on the introduction tutorial"
As discussed with @mcpiastra I will use the master PowerPoint that is shared in Google Drive.

[2022-07-01 09:54] robertoostenveld commented on #564
I did the following
- renamed the old PNGs for simplicity, updated the `introduction.md`
- recreate the figures in powerpoint
- exported them as PNG, 1280x720 pixels
- replaced the PNGs with the new ones

Since each slide is the same width, this resulted in rather wide white borders in each figure. The originals are cropped more tightly around the actual content.

Subsequently I used [imagemagick]

[2022-07-01 10:01] robertoostenveld commented on #564
The original figures in the `introduction.md` tutorial did not specify an explicit size.
I added `width="500"`  to  each of the figures, that is also the figure width in many other tutorials.

[2022-07-01 10:06] #564 closed

[2022-07-08 12:56] robertoostenveld opened #571 "improve consistency of forward and inverse modeling documentation"
As discussed with @mcpiastra.

The different pages should better use the same terminology, the same (or similar) figures to explain concepts, and link to each other through tags and explicit links in the "see also" sections.

[2022-07-13 11:10] mcpiastra commented on #571
Hi,

some points. I started working on "Tutorial" pages only.
1.
As discussed together, the naming of the sections here
![Screenshot from 2022-07-13 11-09-54](https://user-images.githubusercontent.com/13639861/178719454-06644d8d-c51c-49b3-b460-5276abb6a25f.png)
should be more consistent, i.e.,

- Construct a singleshell heamodel for MEG source analysis
- Construct a BEM heamodel for EEG source ana

[2022-07-13 11:11] mcpiastra commented on #571
2. I will focus now on making the content of each of those subchapters mentioned above more consistent and similar to each other (e.g., same list of content, same figures)

[2022-07-13 11:14] mcpiastra commented on #571
3. tags should be checked. Here:

https://github.com/fieldtrip/website/tree/master/_data/tag

I can see that there is "source", "sourceanalysis" and "sourcemodel"; "inverse"; "forward"; "headmodel". Are all needed? E.g., "forward" is used only once, "source" and "sourceanalysis" sound the same.

[2022-07-13 12:20] robertoostenveld commented on #571
agreed that https://www.fieldtriptoolbox.org/tag/sourceanalysis/ should be merged with https://www.fieldtriptoolbox.org/tag/source/

[2022-07-15 07:32] robertoostenveld opened #576 "improve consistency in images and figures"
For #571 @mcpiastra is making updated versions of the figures. When I did the same for the artifact tutorials, I noticed that it is much easier if the figures use a consistent sequential naming. I will write a script to do that.

[2022-09-03 06:22] robertoostenveld opened #589 "Improve documentation of the architecture and general principles"
On the train back from BIOMAG2022 in Birmingham, @schoffelen and I identified the following key features that we build on

- cfg (ft_checkconfig, user-readable)
- data structures (ft_checkdata, dimord, independent of file format, parsimonious)
- difference between high-level and (private) low-level functions, synchronize-private
- modular design of algorithms (specest, preproc, inverse, ...)
- pre

[2022-09-20 12:26] robertoostenveld opened #594 "remove outdated DMLT multivariate analysis tutorial"
The external DMLT code has not been maintained and It was recently reported through the FT mailing list that the tutorial does not work any more. The original authors have even removed the code that was once upon a time shared on https://github.com/distrep/DMLT.

I don't see the reason why we would keep this tutorial online, and also propose to remove the `external/dmlt` directory from the fieldtr

[2022-09-20 13:01] schoffelen commented on #594
OK, this requires some changes to the website repo, and to the fieldtrip repo

for the website, I suggest to just unlink the tutorial on the tutorial table-of-contents page, and add an even stronger note to the top of the mvpa tutorial page, should anybody still end up there.

for the code repo I will remove the external/dmlt folder, move ft_statistics_crossvalidate to external/obsolete, update de

[2022-09-20 13:30] robertoostenveld commented on #594
why not remove it altogether? If we keep it, then a google search might still direct to it. Or people might end up there
by other means. If we don't want people to run that code, I think it is better to make it disappear altogether. People can still look it up (if they really care) in the github history.

[2022-10-21 12:52] #594 closed

[2022-11-24 10:35] robertoostenveld opened #618 "update BIDS for NIRS data"
The page https://www.fieldtriptoolbox.org/example/bids_nirs/ is outdated and should mention that NIRS is part of BIDS as of version 1.8. Furthermore, the examples should be updated. See also https://github.com/fieldtrip/fieldtrip/pull/2140